body{
    min-height: 2000px;
}

.banner {
    background: url('img/33.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 22%;
    padding-bottom: 20%;
    color: white;
}
.lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #fff;
    background-color: darkslategrey;
}

.lingkaran i {
    position: relative;
    top: 30px;
}

.text {
    font-family: serif;
}
